@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
}


@font-face{
  font-family: Avengers;
  src: url(/font/Avengers/AvengeanceHeroicAvengerBold-MM2J.ttf);
}


@font-face {
  font-family: 'Sketch';
  src: url('/font/Sketches/EndgamerRegular-6Odv.ttf');
}
 
body{
  font-family: Avengers;
}