@font-face{
  font-family: Avengers;
  src: url(/font/Avengers/AvengeanceHeroicAvengerBold-MM2J.ttf);
}
@font-face {
  font-family: 'Sketch';
  src: url('/font/Sketches/EndgamerRegular-6Odv.ttf');
}
@font-face {
  font-family: Descript;
  src: url(/font/Descript/AfterDisaster-BzG3.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .flex-center{
      @apply flex justify-center items-center;
    }
    .flex-between{
      @apply flex justify-between items-center;
    }
    .glassmorphism{
      background: rgba(21, 20, 20, 0.1);
      backdrop-filter: blur(10px);
    }
    .glassmorphism2{
      background: rgba(255, 255, 255, 0.146);
      backdrop-filter: blur(5px);
    }
  }

  
*{
  margin: 0;
  padding: 0;
  /* color: aliceblue; */
  box-sizing: border-box;
}

 
body{
  font-family: Avengers;
}
.portfolio{
  scrollbar-width: none;
}
.sketch{
  text-decoration: none;
  font-family: Sketch;
}



.pages a:hover .circle {
  animation: dot 0.5s 0s ease-in-out infinite alternate;
}
@keyframes dot {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 500px) {
  .main section {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 10% 2fr 1fr 6%;
    align-items: center;
    /* grid-auto-rows: minmax(0, max-content); */
  }
  .hero{
    grid-row: 2/3;
    grid-column: 2/3;
    overflow: visible;
  }
  .hero img{
    max-height: 80%;
    max-width: 50%;
  }
  .main section:nth-child(1) .hero img{
    max-height: 80%;
    max-width: 35%;
  }
  .details{
    grid-row:3/4 ;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    z-index: 1;
    margin-bottom: 0px;
    align-self: end;
    text-align: center;
  }
  .sketch{
    grid-area: 1/1/3/1;
    font-size: 80px;
  }
  .name{
    grid-area: 1/2/1/2;
    font-size: 30px;
    align-self: center;
  }
  .brief{
    grid-column: 2;
    align-self: center;
    font-size: 20px;
  }
}



.h1{
  font-family: Avengers; 
  font-size: 3rem;
  color: red;
  letter-spacing: 5px;
  text-shadow: white 3px 3px 5px;
}

svg path{
  stroke: blue;
  stroke-dasharray: 308px;
  stroke-dashoffset: 308px;
}
svg:hover path{
  animation: logomate 3s ease 3 alternate forwards;
}
@keyframes logomate{
  0%{
    stroke: red;
    stroke-dashoffset: 308px;
    fill-opacity: 0;
  }
  80%{
    stroke :red;
    fill-opacity: 0;
  }
  100%{
    stroke : white;
    stroke-dashoffset: 0px;
    fill-opacity: 1;
  }
  
}
/* .blob{
  animation: morph 5s ease infinite alternate forwards;
}
@keyframes morph {
  0%{
    border-radius: 42% 56% 72% 28% /  42% 42% 56% 48%;
  }
  33%{
    border-radius: 72% 28% 48% 48% /  28% 28% 72% 72%;
  }
  66%{
    border-radius: 42% 56% 72% 28% /  42% 42% 56% 48%;
  }
  100%{
    border-radius: 100% 56% 56% 100% /  100% 100% 56% 56%;
  }
} */